.newsletter {
    display: flex;
    align-items: center;
    justify-content: center;
}
.newsletter h3{
    color: white;
    padding-right: 20px;
}

.newsletterSection {
    background-color: #212529;
    padding: 25px;
}